<h4>Assessment Overview</h4>
<p>The project lands on the about us page which gives the candidates an overview of the company </p>

<h4>About the Assessment</h4>
<p>The about assessment page gives the candidates a clear explanation of the assessment prior starting the assessment as follows:</p>


<h4>Assessment instructions</h4>
<p>
The assessment has three sets of multiple choice questions you can choose from and the three sets of questions are programming languages namely JavaScript, Asp.net and general Design patterns, you are advised to select the programming language you are most comfortable in for better results, please also note that upon selection of the test you prefer to take the test will resume immediately so only select the option when ready to start and not prior preparations. Each test is consistent of 10 questions timed at 10 minutes giving you a maximum 
of 1 minute per question to complete.</p>

<section>
  <button  routerLink='/counter'>Begin Assessment</button>
</section>



